/**
* Tag Listing
*/

@diet-tag-url: '../img';
@diet-tag-size: 20px;

.diet-tag {
  display: inline-block;
  vertical-align: bottom;
  width: @diet-tag-size + 1;
  height: @diet-tag-size;
  background-size: @diet-tag-size + 1;
}

.diet-tag-gluten-free { background-image: url('@{diet-tag-url}/01_gluten.svg'); }
.diet-tag-vegan { background-image: url('@{diet-tag-url}/02_vegan.svg'); }
.diet-tag-vegetarian { background-image: url('@{diet-tag-url}/03_vegetarian.svg'); }
.diet-tag-kosher { background-image: url('@{diet-tag-url}/04_kosher.svg'); }
.diet-tag-halal { background-image: url('@{diet-tag-url}/05_halal.svg'); }
.diet-tag-dairy-free { background-image: url('@{diet-tag-url}/06_dairy.svg'); }
.diet-tag-nuts { background-image: url('@{diet-tag-url}/07_nuts.svg'); }
.diet-tag-spicy { background-image: url('@{diet-tag-url}/08_spicy.svg'); }
